<ul>
  <% albums.each do |album| %>
    <li>
      <%= link_to album.title, album_url(album) %>
      <ul>
        <% album.tracks.each do |track| %>
          <li>
            <%= link_to track.song, track_url(track) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
